@import 'tailwindcss';

@theme {
    --color-stef-red: #E03E3E;
    --color-stef-muted: #888880;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.ibm {
    font-family: 'IBM Plex Mono', monospace;
}

.dot-bg {
    background-image: radial-gradient(circle, rgba(255,255,255,0.2) 1px, transparent 1px);
    background-size: 28px 28px;
}